WizardFx VBox#stepListContent {
    -fx-padding: 5 5 5 5;
    -fx-background-color: lightgrey;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: darkgrey;
    -fx-spacing: 10;
}

WizardFx VBox#stepListContent Button {
    -fx-border-color: dimgrey;
    -fx-background-color: lightgrey;
    -fx-min-width: 200px;
    -fx-alignment: center;
    -fx-padding: 5 5 5 5;
    -fx-cursor: hand;
}

WizardFx VBox#stepListContent Button.active {
    -fx-background-color: dimgray;
    -fx-text-fill: lightgrey;
    -fx-font-weight: bold;
}

WizardFx HBox#controls {
    -fx-background-color: lightgrey;
    -fx-alignment: center-right;
    -fx-spacing: 5;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: darkgrey;
    -fx-padding: 5 5 5 5;
}

WizardFx HBox#controls Button {
    -fx-border-color: darkgreen;
    -fx-text-fill: darkgreen;
}

WizardFx HBox#controls Button.finish {
    -fx-spacing: 0 0 0 100;
    -fx-hgap: 500;
}